.board-square {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
}

.board-square-light {
  background-color: #f0d9b5;
}

.board-square-dark {
  background-color: #b58863;
}
